/*.card-body {
  height:100vh;

  display:grid;
  justify-content:center;
  align-items: center;
  background-color:rgb(191, 248, 230);
  
}
table {
  
  border-collapse: collapse;
  box-shadow: 4px 4px 4px 4px rgb(12, 80, 6);
  background-color: rgb(3, 54, 7);
  width: 100%;
  text-align: right;
}
th{
  background-color:rgb(12, 80, 6);
    padding: 0.50rem 0.50rem;
    font-family: Tahoma;
    font-size: 1.60rem;
    font-weight: 500;
    color: rgb(165, 204, 188);
}
td{
  background-color: rgb(157, 241, 189);
  padding:0.4rem 0.4rem;
  font-family: Tahoma;
  font-size: 1.10rem;
  font-weight: 500;
  
}
tr:nth-child(even){
  background-color: rgb(98, 218, 144);
}
.button1 {
  background-color: #04AA6D;
  border: none;
  color: white;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 12px;
}
*/