.smenu{
  
    font-family: Arial;
    font-size: 1.3rem;
    font-weight: 500;
    color:rgb(10, 4, 48);
    background-color: rgb(238, 250, 196);
  
  }
  .api_menu {
    padding:0.4rem 0.4rem;
    font-family: Arial;
    font-size: 1.5rem;
    font-weight: 800;
    color:rgb(2, 1, 19);
    background-color: rgb(238, 250, 196);
  }
  